body {
  color: $color-primary-dark;
  font-family: $font-main;
  font-size: 1.6rem;
  line-height: $font-base-line-height;
}

@media (max-width: 1024px) {
  body {
    font-size: 1.5rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.375rem;
  }
}
