$color-white: #ffffff;

$color-primary-dark: #1d1d1d;
$color-primary-light: $color-white;
$color-secondary: #cacaca;

$color-link-active: #727272;
$color-red: #e96b6b;
$color-background-black: rgba($color-primary-dark, 0.9);

$font-main: 'Roboto', sans-serif;
$font-base-line-height: 1.4;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

$font-size: 16px;
